@import 'tailwindcss';

@font-face {
  font-family: "Google Sans";
  src: url("./assets/fonts/GoogleSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Google Sans";
  src: url("./assets/fonts/GoogleSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Google Sans";
  src: url("./assets/fonts/GoogleSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Google Sans";
  src: url("./assets/fonts/GoogleSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Global reset + base styling */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Better default font rendering */
body {
  font-family: sans-serif , "GoogleSans";
  background: #ffffff;
  color: #111111;
}
